<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form>
          <input type="radio" value="male" name="gender" [(ngModel)]="user.gender" > Male
          <input type="radio" value="female" name="gender" [(ngModel)]="user.gender" > Female
        </form>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="submitValue()" >Submit Value</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>